.login {
  background-color: #f1f4fa;
  padding: 20px;
  min-height: 100vh;

  h1 {
    text-align: center;
  }
  .loginForm {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
